body {
  background-color: white;
  font-family: "Roboto", "Helvetica", "Sans-serif";
}

.Navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  align-items: center;
  padding: 10px;
  top: 0;
  z-index: 1;
  background-color: pink;
  flex-wrap: wrap;
}

.Navbar__logo-wrapper {
  margin-left: 30px;
}

.Navbar__links {
  display: flex;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Sans-serif";
  font-size: 14px;
  letter-spacing: 3px;
  padding: 0;
  justify-content: center;
}

.Navbar__links li {
  list-style-type: none;
  display: inline-block;
  margin-right: 2.5rem;
  margin-bottom: 7px;
  cursor: pointer;
  color: black;
}

.Navbar__links li:hover {
  color: #9b9b9b;
}

a {
  color: black;
}

a:hover {
  color: #9b9b9b;
}

.Navbar__bag-wrapper {
  margin-right: 30px;
  cursor: pointer;
}

.Navbar__bag:hover {
  opacity: 0.6;
}

.navbar__hamburger {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.navbar__hamburger:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  #nav-ul {
    display: none;
    width: 100%;
    flex-direction: column;
  }

  #nav-ul.show {
    display: flex;
  }

  #hamburger {
    width: 100%;
    display: block;
  }
}

.App {
  margin: auto 0;
}

.App__header {
  margin: auto;
  width: 60%;
  text-align: center;
  height: 100vh;
}
