body {
  background-color: white;
  font-family: "Roboto", "Helvetica", "Sans-serif";
}

.Navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  align-items: center;
  padding: 10px;
  top: 0;
  z-index: 1;
  background-color: pink;
  flex-wrap: wrap;
}

.Navbar__logo-wrapper {
  margin-left: 30px;
}

.Navbar__links {
  display: flex;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Sans-serif";
  font-size: 14px;
  letter-spacing: 3px;
  padding: 0;
  justify-content: center;
}

.Navbar__links li {
  list-style-type: none;
  display: inline-block;
  margin-right: 2.5rem;
  margin-bottom: 7px;
  cursor: pointer;
  color: black;
}

.Navbar__links li:hover {
  color: #9b9b9b;
}

a {
  color: black;
}

a:hover {
  color: #9b9b9b;
}

.Navbar__bag-wrapper {
  margin-right: 30px;
  cursor: pointer;
}

.Navbar__bag:hover {
  opacity: 0.6;
}

.navbar__hamburger {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.navbar__hamburger:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  #nav-ul {
    display: none;
    width: 100%;
    flex-direction: column;
  }

  #nav-ul.show {
    display: flex;
  }

  #hamburger {
    width: 100%;
    display: block;
  }
}

.App {
  margin: auto 0;
}

.App__header {
  margin: auto;
  width: 60%;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
}

/*HOW IT WORKS*/

.App__how-it-works {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App__how-it-works h1 {
  color: orange;
}

.how-it-works-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.App__home,
.App__dollar,
.App__investing {
  width: 300px;
  padding-left: 50px;
  padding-right: 50px;
}

.App__how-it-works h2 {
  font-size: 20px;
}

.App__how-it-works p {
  color: gray;
  font-size: 15px;
}

.icon {
  font-size: 2.5rem;
  color: orange;
}

@media screen and (max-width: 927px) {
  .App__how-it-works h2 {
    font-size: 20px;
  }

  .App__how-it-works p {
    font-size: 13px;
    color: gray;
  }
}

@media screen and (max-width: 500px) {
  .how-it-works-wrapper {
    display: flex;
    flex-direction: column;
  }
}

/* Properties */

.properties {
  margin-top: 4rem;
}

.properties__container {
  margin: 0 auto;
  width: 80%;
}

.properties img {
  width: 200px;
}

.properties button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}
